{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace event=Ttree\Plugin\MicroEvent\ViewHelpers}

<article itemscope itemtype="http://schema.org/Event" class="col-lg-4 col-md-6 col-sm-6 {event:style.eventClass(event: node)}">
	<neos:link.node additionalAttributes="{itemprop: 'url'}" node="{node}">
		<div class="events-header-overlay">
			<header>
				<h2 itemprop="name headline">
					{title}
				</h2>
			</header>
			<f:if condition="{mainImage}">
				<meta itemprop="image" content="{media:uri.image(image: mainImage, maximumWidth:800)}"/>
			</f:if>
			<f:if condition="{archived}">
				<f:then>
					<em class="events-event-flag events-event-flag-its-over">
						<span>C'est terminé!</span>
					</em>
				</f:then>
				<f:else>
					<em class="events-event-flag">
						<span>On vous attends ...</span>
					</em>
				</f:else>
			</f:if>
		</div>
		<div class="wrapper">
			<f:if condition="{eventLocality}">
				<div itemprop="location" itemscope itemtype="http://schema.org/Place" class="events-event-location">
					<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span itemprop="addressLocality">{eventLocality}</span>
						<f:if condition="{eventCountry}">
							<span class="separator">|</span> <span itemprop="addressCountry">{eventCountry}</span>
						</f:if>
					</span>
				</div>
			</f:if>
			<div class="events-event-timeline">
				<f:if condition="{date}">
					<meta itemprop="startDate" content="{f:format.date(date: eventStartDate, format: 'c')}"/>
					<f:if condition="{eventEndDate}">
						<meta itemprop="startDate" content="{f:format.date(date: eventEndDate, format: 'c')}"/>
					</f:if>
					{date}
				</f:if>
			</div>
		</div>
	</neos:link.node>
</article>