{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<article itemscope itemtype="http://schema.org/Event" class="ttree-plugin-microevent" id="ttree-plugin-microevent-show">
	<header class="main">
		<h1 itemprop="name headline">{title}</h1>
	</header>
	<f:if condition="{mainImage}">
		<meta itemprop="image" content="{media:uri.image(image: mainImage, maximumWidth:800)}"/>
	</f:if>
	<div class="shortline">
		<f:if condition="{date}">
			<meta itemprop="startDate" content="{f:format.date(date: eventStartDate, format: 'c')}"/>
			<f:if condition="{eventEndDate}">
				<meta itemprop="startDate" content="{f:format.date(date: eventEndDate, format: 'c')}"/>
			</f:if>
			{date}
		</f:if>
		<span itemprop="location" itemscope itemtype="http://schema.org/Place">
			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<f:if condition="{eventLocality}">
					<span class="separator">|</span>
					<span itemprop="addressLocality">{eventLocality}</span>
				</f:if>
				<f:if condition="{eventCountry}">
					<span class="separator">|</span>
					<span itemprop="addressCountry">{eventCountry}</span>
				</f:if>
			</span>
			<f:if condition="{eventWebsite}">
				<span class="separator">|</span>
				<a href="{eventWebsite}">Site officiel</a>
				<meta itemprop="url" content="{eventWebsite}"/>
			</f:if>
		</span>
	</div>
	<div itemprop="articleBody">
		<ts:render path="main" />
	</div>
</article>