{namespace event=Ttree\Plugin\MicroEvent\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}

<div class="ttree-plugin-microevent" id="events-container" style="padding-top: 15px;">
	<f:security.ifAuthenticated>
		<f:form controller="Event" action="create"><f:form.submit class="button btn btn-primary" value="{f:translate(value:'Publish a new event')}"/></f:form>
	</f:security.ifAuthenticated>
	<f:if condition="{hasEventNodes}">
		<f:then>
			<typo3cr:widget.paginate widgetId="events-paginator" parentNode="{eventsNode}" nodeTypeFilter="Ttree.Plugin.MicroEvent:Event" as="paginatedEvents" configuration="{itemsPerPage: 20, insertBelow: 1, maximumNumberOfLinks: 15}">
				<section class="paginated-events row-fluid">
					<f:for each="{paginatedEvents}" as="event">
						<article class="span4 {event:style.eventClass(event: event)}">
							<neos:link.node node="{event}">
								<div class="wrapper">
									<div class="timeline">
										<f:if condition="{event.properties.eventStartDate}">
											<time datetime="{f:format.date(date: event.properties.eventStartDate, format: 'c')}" itemprop="date"><f:format.date forceLocale="fr" localeFormatType="date">{event.properties.eventStartDate}</f:format.date></time>
											<f:if condition="{event.properties.eventEndDate}">
												<span class="separator">&nbsp;-&nbsp;</span>
												<time datetime="{f:format.date(date: event.properties.eventEndDate, format: 'c')}" itemprop="date"><f:format.date forceLocale="fr" localeFormatType="date">{event.properties.eventEndDate}</f:format.date></time>
											</f:if>
										</f:if>
									</div>
									<header>
										<h2>
											{event.properties.title}
										</h2>
									</header>
									<f:if condition="{event.properties.eventBlurb}">
										<p>{event.properties.eventBlurb}</p>
									</f:if>
									<f:if condition="{event.properties.eventWebsite}">
										<div class="shortline">
												<span>{event.properties.eventLocation}</span>
										</div>
									</f:if>
								</div>
							</neos:link.node>
						</article>
					</f:for>
					<div class="clear"></div>
				</section>
				{pagination.numberOfPages}
			</typo3cr:widget.paginate>
		</f:then>
		<f:else>
			<p class="well"><f:translate package="Ttree.Plugin.MicroEvent">No event in the repository.</f:translate></p>
		</f:else>
	</f:if>
</div>